{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container mt-5" style="text-align: center">
    <H1>{{ object|yesno:"Update,Create" }} Profile</H1>
</div>
    <div class="container mt-5" style="max-width: 500px">
        <form novalidate method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class = "mb-4" style="text-align: center">
            <button type="submit" class="btn btn-dark" style="width: 100%">Submit</button>
        </div>
        </form>
        {% include 'includes/cancel_button.html' %}
    </div>
{% endblock %}
